/* General body styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.hero {
    position: relative;
    height: 500px;
    background: url('images/hero-bg.jpg') center center no-repeat;
    background-size: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero h1, .hero h2, .hero p {
    margin: 0;
    font-size: 2.5rem;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
    color: #f0a500;
}

/* Styling for sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* About Section */
#about {
    background-color: #fff;
    color: #333;
}

#sponsors {
    background-color: rgb(12, 12, 12);
    color: rgb(209, 163, 10);
    padding: 20px;
    text-align: center;
}

.sponsor-logos img {
    margin: 10px;
    height: 100px;
}

/* Timeline Section */
#timeline {
    background-color: #ececec;
    color: #333;
}

/* Team Section */
#team {
    background-color: #f8f8f8;
    color: #333;
}

/* Gallery Section */
#gallery {
    background-color: #fff;
    color: #333;
}

/* Video Section */
#videos {
    background-color: #ececec;
    color: #333;
}

/* Outreach Section */
#outreach {
    background-color: #fff;
    color: #333;
}

/* Meetings Section */
#meetings {
    background-color: #ececec;
    color: #333;
}

/* Stats Section */
#stats {
    background-color: #fff;
    color: #333;
}

/* Reveal Section */
#reveal {
    background-color: #ececec;
    color: #333;
}

/* Contact Section */
#contact {
    background-color: #fff;
    color: #333;
}
